@keyframes loader {
  0%, 10%, 100% {
    width: 80px;
    height: 80px;
  }
  65% {
    width: 150px;
    height: 150px;
  }
}
@keyframes loaderBlock {
  0%, 30% {
    transform: rotate(0);
  }
  55% {
    background-color: #a9a9a9;
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes loaderBlockInverse {
  0%, 20% {
    transform: rotate(0);
  }
  55% {
    background-color: #a9a9a9;
  }
  100% {
    transform: rotate(-90deg);
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  animation: loader 1.2s infinite ease-in-out;
}
.loader span {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #a9a9a9;
  animation: loaderBlock 1.2s infinite ease-in-out both;
}
.loader span:nth-child(1) {
  top: 0;
  left: 0;
}
.loader span:nth-child(2) {
  top: 0;
  right: 0;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(3) {
  bottom: 0;
  left: 0;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(4) {
  bottom: 0;
  right: 0;
}

body {
  background-color: #584E4A; }

body #form3 div[style="font-size: 2rem;"] {
  color: #ffffff;
}
a.close-btn {
  position:absolute;
}

.sentence h3 {
  margin-bottom: 25px !important;
}
.img-box img {
  opacity: 0;
  transition: 0.4s ease-in both;
}